<header id="header" class="header header-hide">
  <div class="container">

    <div id="logo" class="pull-left">
      <h1><a href="#body" class="scrollto"><span>Passage</span>Tracker</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="/">Home</a></li>
        <% if user_signed_in? %>
        <li><%= link_to('Edit My Tracking Page', edit_boat_path(current_user.boats.first)) %></li>
        <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        <% else %>
        <li><%= link_to('Sign In', new_user_session_path) %></li>
        <% end %>      
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header>